body {
    background-image: url("grid.png");
    margin: 0;
}

main {
    width: 100vh;
    height: 100vh;
}

#new-table {
    display: none;
}

.entity-table {
    font-family: 'source_sans_proregular', sans-serif;
    font-size: 13px;
    background-color: #eee;
    min-width: 200px;
    position: absolute;
    border-collapse: collapse;
    border: 1px solid #444444;
    border-spacing: 0;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5)
}

.entity-table thead th {
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: left;
}

.entity-table td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #f8f8f8;
    padding: 4px;
    white-space: nowrap;
    vertical-align: middle;
}

.entity-table tfoot {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}